html, body {
  margin: 0;
  padding: 0;
  font-family: Lato;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  width: 100%;
}

#root {
  display: inline-flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 100%;
  flex: 1;
}

*, *:after, *:before {
  box-sizing: border-box;
}